{% extends 'base.html' %}
{% block content %}

<h1>Land Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ land.location }}</span>
        <p>Climate: {{ land.climate }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'lands_update' land.id %}">Edit</a>
        <a href="{% url 'lands_delete' land.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}